html *
{
   font-size: 13pt;
   color: #000;
   font-family: "Charter";
}

body{
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: white;
}


@font-face {
    font-family: "Charter";
    src: url("/font/charter/webfonts/charter_regular-webfont.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Charter";
    src: url("/font/charter/webfonts/charter_italic-webfont.ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Charter";
    src: url("/font/charter/webfonts/charter_bold-webfont.ttf");
    font-weight: bold;
    font-style: italic;
}

/*BOOK TYPOGRAPHY*/

p { 
    font-size: 1em;
    text-align: justify;
    line-height: 1.3em;
    margin-bottom: -1em;
}

a{
	text-decoration: none;
}

#text p {
    text-indent: 1em;
    font-size:1.85vh;
    line-height: 1.5em;
}

h1 {
    font-size: 3.3vh;
    font-style: italic;
    text-align: center;
    font-weight: 100;
    line-height: 5em;
}

.title {
    font-size: 4vh;
    font-style: normal;
    font-weight: bold;
    margin-top: 30%;
    margin-bottom: 100%;
}

h2 { 
    font-size: 1.8vh;
    font-weight: 200;
    text-align: center;
    letter-spacing: .15em;
}
.pad {
    margin-top: 30%;
}
.tsoagl {
    display: none;
}
h3 {
    font-size: 1.8vh;
    font-style: italic;
    font-weight: normal;
    text-align: justify;
    line-height: 1.5em;
    margin-top: 8%;
}

.italics {
    font-size: 1em;
    font-style: italic;
}

.x-out {
    font-size: 1.3vh;
}

.subtitle {
    font-size: 1.1vh;
    text-align: center;
    letter-spacing: .1em;
    line-height: 1.4em;
    margin-top: 50px;
    margin-bottom: 20px;
}

.subtitle2 {
    font-size: 1.1vh;
    text-align: center;
    letter-spacing: .1em;
    line-height: 1.2em;
    margin-top: 50px;
    margin-bottom: 20px;
}
.anot {
    font-size:1.85vh;
    line-height: 1.4em;
}
.seeAnot {
    /*
    outline: .2em solid;
    */    
    outline-color: #fceaec;
    background-color: #fceaec;

    display: block;
}
.anot2 {
}

.seeAnot2 {
    background-color: black;
}

.anot3 {
    display:none;
}

.seeAnot3 {
    position: absolute;
    display: inline-flex;
    text-align: right;
    opacity: 50%;
    left: 88%;
}

.seeAnot3:hover {
    opacity: 100%;
}

.story {
}


/*BOOK*/

#bookWrap {
    position: fixed;  
    top:10%;
    left: 30.5%;
    height:80%;
    width:34%;
    z-index: 98;
    cursor: ns-resize;
}
#textBox {
    position: absolute;  
    top:0%;
    left:1.5%;
    height:100%;
    width:97%;
    overflow-y: scroll;
}
#text {
    margin: 0% 5% 0% 10%;
    font-size: 100%;
    height:88%;
}
#title {
    top: 3%;
    left: 8%;
    position: fixed;
}


/*STORIES*/

#storyBox {
    top: 8%;
    left: 50%;
    height:82%;
    width:43%;
    border:none;
    position: fixed;
    padding: 10px;
    display: none;
}
#stories {
    position: absolute;  
    top:0%;
    left:2%;
    height:95%;
    width:97%;
    background-color: white;
    overflow-y: scroll;
}
#download {
    top: 91%;
    left: 1%;
    position: fixed;
    white-space: nowrap;
    z-index: 99;
}
#dlink{
    font-size: 1.2em;
    line-height: 1em;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: black;
    opacity: 10%;
    writing-mode: vertical-lr;    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#dlink:hover {
    opacity: 40%;
    transition: 15ms ease;
}
side{
    left: 1%;
    top: 2%;
    font-size: 1.2em;
    line-height: .5em;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    color: black;
    opacity: 10%;
    writing-mode: vertical-rl;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: fixed;
    z-index: 99;
}

/*LIBRARY*/

#library {
    position: fixed;  
    top:0%;
    margin-left:13%;
    height:100%;
    width:82%;
    background-color: transparent;
    overflow-x: hidden;
}
#library img {
    width: 100%;
    padding-top: 2%;
    cursor: e-resize;
    transition: .05s;
}
.objBox {
    width: 20%;
    height: 100%;
    float: left;
    overflow: auto;
    display: none;
}
.objBox img {
    width: 90%!important;
    padding-bottom: 3%;
}
.libtext {
    position: absolute;
    top: 10%;
    left: 63%;
    width: 31%;
    height: 75%;
    padding: 2% 3% 2% 2%;
    overflow-x: hidden;
}
.bor {
    border: .5px solid gray;
}
.libtext p {
    font-family: monospace;
    font-size: .8em;
    text-align: left;
    line-height: 1.2em;
    padding-bottom: 1em;
    padding-left: 2%;
}
.libtext img {
    opacity: 100%;
    position: relative;
}
.libtext img:hover {
    opacity: 90%;
}
.objBox img {
    opacity: 50%;
    margin-bottom: 2em;
}
.objBox img:hover {
    opacity: 100%;
}
.objSel {
    opacity: 100%!important;
}

.info {
    position: fixed;
    margin-left: 20%;
    width: 30%;
    height: 10%;
    padding-right: 5%;
    overflow-x: scroll;  
}

.object-about {
}
.object-about p {
    font-family: monospace;
    font-size: .8em;
    font-weight: strong;
    line-height: 1.2em;
    padding-left: 2%;
    width: 80%;
    text-align: left;
}
.object-info {
    font-style: italic;
    opacity: 60%;
}
.object-link {
    padding-bottom: 5%;
}
.object-link a {
    font-family: monospace;
    font-size: 1.3vh;
    opacity: 50%;
    transition: 15m ease;
}
.object-link a:hover {
    cursor: e-resize;
    opacity: 100%;
}


/*WORK*/

.nav {
    display: none;
}
#workBox {
    top: 0%;
    left: 0%;
    height:100%;
    width:100%;
    border:none;
    position: fixed;
    padding: 1% 2% 0% -2%;
    display: none;
}
#work {
    display: block;
    top:0%;
    left:0%;
    height:100%;
    width:100%;
    background-color: transparent;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1;
}
#wMenuBox {
    display: none;
}
#workMenu {
    position: fixed;
    top: 3%;
    left: .4%;
    width: auto;
    list-style-type: none;
    cursor: pointer;
    z-index: 99;
    display: none;
}
#workMenu li {
    padding: 2% 5%;
    display: block;
    height: 2%;
    background-color: transparent;
    font-variant: small-caps;
    font-size: 1em;
    color: black;
    font-weight: 100;
    font-family: 'Oswald', sans-serif;
    color: black;
    text-decoration: none;
}
#workMenu li:hover {   
    background-color: white;
    opacity: 30%;
}
.diary {
    height: 100%;
    width: 100%;
    display: none;
}
.show {
    display: block;
}
.info {
    position: fixed;
    top: 28%;
    right: 0;
    z-index: 1;
}
.diary p {
    text-align: right;
    font-size: em;
    font-style: italic;
    opacity: 65%;
}
.diary a {
    cursor: e-resize;
}
.diaryButs {
    position: fixed;
    top: 30%;
    left: 95%;
}
#diaryF, #diaryB {
    font-size: 2em;
    white-space: nowrap;
    cursor: pointer;
    border:none;
    outline:none;
    color: lightgray;
    background-color: transparent;
    opacity: 50%;
    transition: 15ms ease;
    display: none;
}
#diaryF:hover, #diaryB:hover {
    opacity: 100%;
}
#diaryF {
    cursor: e-resize;
}
#diaryB {
    cursor: w-resize;
    position: fixed;
    left: 2%;
}
#oberegg diaryB {
    display: none;
}
.note {
    list-style-type: none;
    padding-top: 3%;
    padding-left: 4%;
    width: 60%;
}
.note p {
    font-family: 'Oswald', sans-serif;
    font-size: 1.3vh;
    font-weight: 200;
    color: #838282!important;
    line-height: 1.5em;
    padding-top: 3%;
}

.boxMenu {
    position: fixed;
    margin-top: 1.2%;
    right: 5%;
    max-width: 33%;
    list-style-type: none;
    background: transparent;
    z-index: 99;
    line-height: 0em;
}
.boxMenu a {
    font-variant: small-caps;
    font-size: 1em;
    color: black;
    font-weight: 100;
    font-family: 'Oswald', sans-serif;
    padding: 14px 16px;
}
#libMenu a {
    font-size: .7em;
    padding: 17px 10px;
}
.boxMenu li {
    float: left;
}
.boxMenu li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}


/*MENU*/

#menu {
    top: 3.5%;
    right:67%;
    position: fixed;
    display: none;
    z-index: 99;
    }
#menu a {
    cursor: pointer;
}
#chaps {
    padding:0;
    width: auto;
    list-style-type: none;
    line-height: 1em;
    text-align: right;
    }
#menuBut{
    position: fixed;
    top: 2%;
    right: 66.3%;
    width: 5%;
    margin-bottom: 5%;
}
#menu li a {
    font-size: .7em;
    font-weight: 100;
    font-family: 'Oswald', sans-serif;
}
li:hover {
    background-color: white;
    opacity: 30%;
}

/*BUTTONS*/

.but {
    font-size: .8em;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: lightgray;
    opacity: 80%;
    background-color: transparent;
    
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 99;
    margin-right: 5%;

    white-space: nowrap;
    cursor: pointer;
    border:none;
    outline:none;
    transition: 15ms ease;
}
.but:hover {
    opacity: 50%;
    background-color: white;
}
.but2 {
    font-size: 1em;
    font-weight: 200;
    font-family: 'Oswald', sans-serif;
    text-align: right;
    border: none;
    color: lightgray;
    background-color: transparent;
    opacity: 80%;
    cursor: context-menu;
    outline: none;
    z-index: 99;
}
.but2:hover {
    opacity: 50%;
}
.butSel {
    text-decoration: underline;
    text-decoration-color: pink;
}
.but2Sel {
    opacity: 100%;
}
#buttons {
    position: fixed;
    top: 2%;
    right: 37.5%;
    width: 15%;
    text-align: right;
    z-index: 99;
}
#buttons .but {
    margin-right: 0%;
}
#buttons2 {
    position: fixed;
    top: 94%;
    left: 32.5%;
    width: 33%;
    text-align: center;
    z-index: 99;
}
#wmenuBut, #lmenuBut, #clear {
    position: fixed;
    top: 2%;
    left: 2%;
    text-align: right;
    cursor: context-menu;
    display: none;
    outline:none;
    z-index: 5;
    transition: 15ms ease;
}
#wmenuBut {
    display: block;
}
#lmenuBut {
    left:35%;
    width: 5%;
}
#clear {
    top: 11%;
    left: 92%;
    color: gray;
    opacity: 80%;
    cursor: crosshair;
}
#booboo {
    font-size: .8em;
    line-height: 1em;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: black;
    opacity: 15%;
    background-color: transparent;
    white-space: nowrap;
    cursor: pointer;
    border:none;
    transition: 15ms ease;
    z-index: 99;
}

/*MEDIA*/

img {
    width: 103%;
}
img a {
    outline: none;
}
.slideBox {
    width: 60%;
    height: 60%;
    margin: 8% 20%;
}
.slide  {
    width: 47%;
    padding: 1% 1%;
    position: relative;
}
.slideBig {
    margin-bottom: 3%;
}
.slideSm {
    width: 3%;
}
.single {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
}
.workVid {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.workVid2 {
    margin:-40%;
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:scale(.4)rotate(270deg);
}
.workVid::-webkit-media-controls-volume-slider {
display:none;
}

.workVid::-webkit-media-controls-mute-button {
display:none;
}